body {
  overflow: hidden;
  margin: 0;
  background-color: #ffffff;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}


#app {
  font-family: 'Montserrat','Courier New', Courier, monospace;
  text-align: center;
  color: #2c3e50;
  width: 357px;
  height: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(193, 193, 193);
  
  padding: 1rem;
}

.switch-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 24px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  background-color: white;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background: 
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  bottom: 1px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #046392;
}

input:focus + .slider {
  box-shadow: 0 0 1px #046392;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
  background: gray;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-text {
  color: #4d4d4d;
  padding-right: 0.5rem;
  font-family: 'Montserrat','Courier New', Courier, monospace;
  font-size: 0.55rem;
}

input:checked > .switch-text {
  color: #046392;
}

input:focus + .switch-text {
  color: #046392;
}


.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: var(--gray900);
} */
.image{ 
    min-height: 50px;
    padding: 0;
    min-width: 250px;
}
.scale {
  font-family: 'Montserrat','Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 0px;
  padding: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.inspect {
  background-color: #046392;
  padding: 1.25rem 3rem;
  border-radius: 100px;
  color: white;
  margin-top: 1.5rem;
  font-family: 'Montserrat','Courier New', Courier, monospace;
}

.inspect:hover {
  background-color: #046392b7;
  cursor: pointer;
}

.inspect:active {
  background-color: palevioletred;
}

.white {
  background-color: white;
  margin: 2rem;
  filter: drop-shadow(0 0 0.2rem rgb(184, 184, 184));
}

.objection {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  font-family: 'Montserrat','Courier New', Courier, monospace;
  min-height: 15px;
  padding: 0 0.5rem;
  color: #046392;
}
.scan_results{ 
  text-align: center;
  font-size: 20px;
  min-height: 30px;
  min-width: 250px;
  font-family: 'Montserrat','Courier New', Courier, monospace;
}

.options-div {
  display: flex;
  justify-content: flex-end;

}
.options {
  text-align: center;
  font-size: 1rem;
  border: none;
  padding: 10px 15px;
  text-decoration: aqua;
}

.options i {
  padding: 0 2px;
  color: gray;
}

.options i:hover {
  color: black;
  cursor: pointer;
}

.description {
  text-align: center;
  font-size: 12px;
} 

svg {
  height: 40vh;
  margin: auto;
  display: block;
}

path {
  stroke-linecap: round;
  stroke-width: 6;
}

path.grey {
  stroke: #e7e7e8;
}

path.blue {
  stroke: url(#gradient);
  stroke-dasharray: 198;
  stroke-dashoffset: 198;
  animation: dash 3s ease-out forwards;
}

